@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'lib/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf'; */
/* @import 'lib/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf'; */

/* body {
    width: 100vw;
    height: 100vh;
} */

@font-face {
    font-family: AlteHaasGrotesk;
    src: url('lib/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
    font-family: RoutedGothic;
    src: url('lib/fonts/routed-gothic-ttf-v1.0.0/routed-gothic.ttf') format('truetype');
}

h1 {
    font-family: AlteHaasGrotesk;
}

.autogrow-textarea {
  field-sizing: content;
  min-height: 2lh;
  max-height: 30lh;
}