@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'lib/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf'; */
/* @import 'lib/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf'; */

/* body {
    width: 100vw;
    height: 100vh;
} */

@font-face {
    font-family: AlteHaasGrotesk;
    src: url('lib/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
    font-family: RoutedGothic;
    src: url('lib/fonts/routed-gothic-ttf-v1.0.0/routed-gothic.ttf') format('truetype');
}

/* h1 {
    font-family: AlteHaasGrotesk;
} */

.autogrow-textarea {
  field-sizing: content;
  min-height: 2lh;
  max-height: 30lh;
}

.main-content {
    max-width: 1140px;
}

.md-container h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container h4{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container h5{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container h6{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.md-container ul{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.md-container li{
    
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;   
}

.md-container li::marker {
    content: '•  ';
}
/* .md-container p{
    font-family: RoutedGothic;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
} */